<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MailSift</title>
    <link rel="icon" type="image/x-icon" href="../static/images/mail.ico">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap">

    <link rel="stylesheet" href="../static/css/mails.css">
</head>

<body>
    <div class="container-fluid" style="height: 100vh;">
        <div class="row" style="height: 100%;">

            <!-- Left Section -->
            <div class="col-md-2 section" name="left-section">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="rounded-circle bg-secondary text-light d-flex justify-content-center align-items-center"
                                style="width: 40px; height: 40px;">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                        <div class="col-auto">
                            <h5 class="m-0">Abhay Patel</h5>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <ul class="vertical-stack">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-inbox"></i>
                            <span class="inbox-text">Inbox</span>
                            <span class="badge badge-success" id="mailcount"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-file"></i> Draft</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-paper-plane"></i> Sent</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-trash"></i> Trash</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-exclamation-circle"></i> Spam</a>
                    </li>
                </ul>
            </div>

            <!-- Middle Section -->
            <div class="col-md-6 section" name="middle-section">
                <h2 class="mb-3" style="margin: 0;">INBOX</h2>
                <div class="search-bar input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search..." id="searchInput" name="searchInput">
                </div>

                <!-- Mail Cards Section -->
                <div class="scrollable-section">
                    <!-- Cards -->
                    <div class="card" id="card">
                        <div class="card-header">
                            <div class="sender-subject">
                                <b>
                                    <span id="sendername" name="sendername">John Doe</span>
                                    <span id="sendermail" name="sendermail">&lt;johndoe@gmail.com&gt;</span>
                                    <br>
                                    <span id="subject" name="subject">Meeting Tomorrow</span>
                                </b>
                            </div>
                            <div class="date-time" id="senderdatetime">
                                <p>2024-02-14, 10:30 AM</p>
                            </div>
                        </div>
                        <div class="card-body" id="payload">
                            <p>Hey team, just a quick reminder about our meeting tomorrow at 10 am. Don't forget to
                                bring your updates!</p>
                        </div>
                    </div>

                    <div class="card" id="card">
                        <div class="card-header">
                            <div class="sender-subject">
                                <b>
                                    <span id="sendername" name="sendername">Alex Johnson</span>
                                    <span id="sendermail" name="sendermail">&lt;alex.johnson@example.com&gt;</span>
                                    <br>
                                    <span id="subject" name="subject">Important Announcement</span>
                                </b>
                            </div>
                            <div class="date-time" id="senderdatetime">
                                <p>2024-01-12, 08:30 AM</p>
                            </div>
                        </div>
                        <div class="card-body" id="payload">
                            <p>Hi team, I hope this email finds you well. I wanted to inform you about an important
                                company-wide announcement regarding the upcoming changes in our project management
                                system. These changes are aimed at streamlining our processes and improving efficiency.
                                Your cooperation and support during this transition period are highly appreciated.
                                Please stay tuned for further updates and feel free to reach out if you have any
                                questions or concerns. Thank you for your attention.</p>
                        </div>
                    </div>

                    <div class="card" id="card">
                        <div class="card-header">
                            <div class="sender-subject">
                                <b>
                                    <span id="sendername" name="sendername">Sarah Johnson</span>
                                    <span id="sendermail" name="sendermail">&lt;sarah.johnson@example.com&gt;</span>
                                    <br>
                                    <span id="subject" name="subject">Project Update</span>
                                </b>
                            </div>
                            <div class="date-time" id="senderdatetime">
                                <p>2024-01-01, 06:24 PM</p>
                            </div>
                        </div>
                        <div class="card-body" id="payload">
                            <p>Hi everyone, just wanted to share that we've made great progress on the project. Keep up
                                the excellent work!</p>
                        </div>
                    </div>

                    <div class="card" id="card">
                        <div class="card-header">
                            <div class="sender-subject">
                                <b>
                                    <span id="sendername" name="sendername">Michael Thompson</span>
                                    <span id="sendermail" name="sendermail">&lt;michael.thompson@example.com&gt;</span>
                                    <br>
                                    <span id="subject" name="subject">Company Event RSVP</span>
                                </b>
                            </div>
                            <div class="date-time" id="senderdatetime">
                                <p>2023-12-25, 04:49 PM</p>
                            </div>
                        </div>
                        <div class="card-body" id="payload">
                            <p>Hi everyone, I hope this email finds you well. As you may know, our company is
                                hosting a special event next week to celebrate a major milestone. We would like to
                                extend an invitation to all employees to join us for this memorable occasion. Please
                                RSVP by the end of this week, indicating whether you will be able to attend. We look
                                forward to celebrating together as a team. If you have any dietary restrictions or
                                special requests, please let us know in your response. Thank you, and we hope to see
                                you there!</p>
                        </div>
                    </div>
                    <!-- Add more cards as needed -->
                </div>
            </div>

            <!-- Right Section -->
            <div class="col-md-4 section" name="right-section">

                <!-- Response buttons to mails -->
                <div class="action-bar">
                    <button type="button" class="btn btn-outline-danger action-btn" data-toggle="tooltip"
                        data-placement="top" title="Trash"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-outline-secondary action-btn" data-toggle="tooltip"
                        data-placement="top" title="Archive"><i class="fa fa-archive"></i></button>

                    <span class="divider"></span>

                    <button type="button" class="btn btn-outline-primary action-btn" data-toggle="tooltip"
                        data-placement="top" title="Snooze"><i class="fa fa-clock"></i></button>

                    <span class="divider"></span>

                    <button type="button" class="btn btn-outline-info action-btn" data-toggle="tooltip"
                        data-placement="top" title="Reply"><i class="fa fa-reply"></i></button>
                    <button type="button" class="btn btn-outline-info action-btn" data-toggle="tooltip"
                        data-placement="top" title="Reply All"><i class="fa fa-reply-all"></i></button>
                    <button type="button" class="btn btn-outline-info action-btn" data-toggle="tooltip"
                        data-placement="top" title="Forward"><i class="fa fa-share"></i></button>
                </div>

                <!-- Blank Card for response -->
                <div class="card mt-3" name="blank-card">
                    <div class="card-header">
                        <div class="sender-subject">
                            <span id="blankSenderName">Sender's Name</span>
                            <br>
                            <span id="blankSubject">Subject</span>
                            <br>
                            <span style="font-weight: 500; font-size: small;">Reply-To:</span> <span
                                id="blankSenderEmail">Email</span>
                        </div>
                        <div class="date-time" id="blankDateTime">
                            <p>dd-mm-yyyy, HH:MM</p>
                        </div>
                    </div>
                    <div class="card-body" id="blankPayload" style="height: 270px;">
                        <p>This is the content of the email...</p>
                    </div>
                </div>
                <form id="myForm" enctype="multipart/form-data" method="post" action="{{ url_for('send_mail') }}">
                    <div class="form-group">
                        <textarea class="form-control mt-3" rows="6" placeholder="Type your reply here..."
                            style="resize: none;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="fileAttachment">Attach File:</label>
                        <input type="file" class="form-control-file" id="fileAttachment" name="fileAttachment" multiple>
                    </div>
                    <button type="submit" class="btn btn-primary btn-animation">
                        <i class="fas fa-paper-plane mr-1"></i>Submit
                    </button>
                    <button type="button" class="btn btn-secondary btn-animation ml-2" onclick="clearForm()">
                        <i class="fas fa-ban mr-1"></i>Clear
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/mails.js"></script>
</body>

</html>