body {
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

/* Navbar */
.navbar {
    background-color: #343a40 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

/* Table */
.table-responsive {
    max-height: 300px;
    overflow-y: auto;
}

.chart-container {
    width: 100%;
    margin: auto;
}

.design {
    width: 100%;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
}

.design:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}