<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MailSift</title>
    <link rel="icon" type="image/x-icon" href="../static/images/mail.ico">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap">

    <link rel="stylesheet" href="../static/css/mails.css">
    <style>
        .btn-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .btn-container .btn {
            margin-right: 10px;
            font-size: 24px;
        }

        .btn-container .separator {
            border: 1px solid #000;
            height: 40px;
            margin: 0 10px;
            margin-right: 20px;
        }
    </style>
</head>

<body>
    <div class="container-fluid" style="height: 100vh;">
        <div class="row" style="height: 100%;">

            <!-- Left Section -->
            <div class="col-md-6 section" name="middle-section">
                <div class="btn-container">
                    <button type="button" class="btn btn-primary position-relative">
                        Inbox
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                            id="mailcount">
                            <span class="visually-hidden">Inbox messages</span>
                        </span>
                    </button>

                    <div class="separator"></div>

                    <button type="button" class="btn btn-secondary position-relative">
                        Sent
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                            id="">
                            0
                            <!-- <span class="visually-hidden">Send messages</span> -->
                        </span>
                    </button>
                </div>

                <div class="search-bar input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search..." id="searchInput" name="searchInput">
                </div>

                <!-- Mail Cards Section -->
                <div class="scrollable-section" id="scrollable-section">
                    <!-- Cards -->
                    {% for mail in json_data %}
                    <div class="card" id="card">
                        <div class="card-header">
                            <div class="sender-subject">
                                <b>
                                    <span id="sendername" name="sendername">{{ mail.SenderName }}</span>
                                    <span id="sendermail" name="sendermail">&lt;{{ mail.SenderEmail }}&gt;</span>
                                    <br>
                                    <span id="subject" name="subject">{{ mail.Subject }}</span>
                                </b>
                            </div>
                            <div class="date-time" id="senderdatetime" name="senderdatetime">
                                <p>{{ mail.Date }}, {{ mail.Time }}</p>
                            </div>
                        </div>
                        <div class="card-body" id="payload">
                            <p>{{ mail.Body | safe }}</p>
                            <hr>
                            <p><b>Attachments:</b>{% if mail.Attachments %} {% for file in mail.Attachments %} {{ file }} {% endfor %} {% else %} None {% endif %}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Right Section -->
            <div class="col-md-6 section" name="right-section">
                <!-- Response buttons to mails -->
                <div class="action-bar">
                    <button type="button" class="btn btn-outline-danger action-btn" data-toggle="tooltip"
                        data-placement="top" title="Trash"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-outline-secondary action-btn" data-toggle="tooltip"
                        data-placement="top" title="Archive"><i class="fa fa-archive"></i></button>

                    <span class="divider"></span>

                    <button type="button" class="btn btn-outline-primary action-btn" data-toggle="tooltip"
                        data-placement="top" title="Snooze"><i class="fa fa-clock"></i></button>

                    <span class="divider"></span>

                    <button type="button" class="btn btn-outline-info action-btn" data-toggle="tooltip"
                        data-placement="top" title="Reply"><i class="fa fa-reply"></i></button>
                    <button type="button" class="btn btn-outline-info action-btn" data-toggle="tooltip"
                        data-placement="top" title="Reply All"><i class="fa fa-reply-all"></i></button>
                    <button type="button" class="btn btn-outline-info action-btn" data-toggle="tooltip"
                        data-placement="top" title="Forward"><i class="fa fa-share"></i></button>

                    <span class="divider"></span>

                    <button type="button" class="btn btn-outline-success action-btn" data-toggle="tooltip"
                        data-placement="top" title="Summarize"><i class="fa fa-cogs"></i></button>
                </div>

                <!-- Blank Card for response -->
                <div class="card mt-3" name="blank-card">
                    <div class="card-header">
                        <div class="sender-subject">
                            <span id="blankSenderName">Sender's Name</span>
                            <br>
                            <span id="blankSubject">Subject</span>
                            <br>
                            <span style="font-weight: 500; font-size: small;">Reply-To:</span> <span
                                id="blankSenderEmail">Email</span>
                        </div>
                        <div class="date-time" id="blankDateTime">
                            <p>dd-mm-yyyy, HH:MM</p>
                        </div>
                    </div>
                    <div class="card-body" id="blankPayload" style="height: 270px;">
                        <p>This is the content of the email...</p>
                    </div>
                </div>
                <form id="myForm" enctype="multipart/form-data" method="post" action="{{ url_for('send_mail') }}">
                    <div class="form-group">
                        <textarea class="form-control mt-3" rows="6" id="mailReply" name="mailReply"
                            placeholder="Type your reply here..." style="resize: none;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="fileAttachment">Attach File:</label>
                        <input type="file" class="form-control-file" id="fileAttachment" name="fileAttachment" multiple>
                    </div>
                    <button type="submit" class="btn btn-primary btn-animation">
                        <i class="fas fa-paper-plane mr-1"></i>Submit
                    </button>
                    <button type="button" class="btn btn-secondary btn-animation ml-2" onclick="clearForm()">
                        <i class="fas fa-ban mr-1"></i>Clear
                    </button>
                </form>
            </div>
        </div>
    </div>

    {% if alert_msg %}
        <script>
            alert("{{ alert_msg }}");
        </script>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/mails.js"></script>

    <script>
        document.getElementById("myForm").addEventListener("submit", function(event) {
            // Prevent the default form submission
            event.preventDefault();

            // Get the values of the static elements
            var subject = document.getElementById('blankSubject').innerText;
            var senderEmail = document.getElementById('blankSenderEmail').innerText;
            var body = document.getElementById('blankPayload').innerText;

            // Prepare the data to send to Flask
            var formData = {
                receiverEmail: senderEmail,
                mailSubject: subject,
                mailBody: body, 
            };

            // Send the data to Flask using AJAX
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/send_mail', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log(xhr.responseText); // Log the response from the server
                }
            };
            xhr.send(JSON.stringify(formData));
        });
    </script>
</body>

</html>